In [25]:
import pandas as pd

naruto_filepath = './input/naruto.csv'
naruto_data = pd.read_csv(naruto_filepath)

naruto_data.head()

,Unnamed: 0,Num_episode,Title,Type,Year_launch,Rate,Votes,Saga,Airdate
0,1,1,Homecoming,Mixed Canon/Filler,2007,8.2,728,s1 Kazekage Rescue,2007-02-15
1,2,2,The Akatsuki Makes Its Move,Mixed Canon/Filler,2007,8.0,575,s1 Kazekage Rescue,2007-02-15
2,3,3,The Results of Training,Mixed Canon/Filler,2007,8.0,508,s1 Kazekage Rescue,2007-02-22
3,4,4,The Jinchuriki of the Sand,Mixed Canon/Filler,2007,8.2,517,s1 Kazekage Rescue,2007-03-01
4,5,5,The Kazekage Stands Tall,Mixed Canon/Filler,2007,8.2,486,s1 Kazekage Rescue,2007-03-15

In [39]:
naruto_data.describe()

       Unnamed: 0  Num_episode  Year_launch        Rate        Votes
count  500.000000   500.000000   500.000000  500.000000   500.000000
mean   250.500000   250.500000  2011.668000    7.360600   369.586000
std    144.481833   144.481833     2.899412    1.056836   271.742906
min      1.000000     1.000000  2007.000000    4.200000   163.000000
25%    125.750000   125.750000  2009.000000    6.500000   216.750000
50%    250.500000   250.500000  2012.000000    7.500000   294.500000
75%    375.250000   375.250000  2014.000000    8.200000   395.500000
max    500.000000   500.000000  2017.000000    9.500000  2780.000000

In [29]:
naruto_data.loc[[13, 188, 200], ["Rate", "Title"]]

     Rate                      Title
13    8.3            Naruto's Growth
188   5.7  Sasuke's Paw Encyclopedia
200   8.0           Painful Decision

In [31]:
naruto_data.loc[naruto_data["Rate"] > 8.0, ["Rate", "Title"]]

     Rate                                              Title
0     8.2                                         Homecoming
3     8.2                         The Jinchuriki of the Sand
4     8.2                           The Kazekage Stands Tall
5     8.2                                    Mission Cleared
12    8.1                             A Meeting With Destiny
..    ...                                                ...
475   9.3                                   The Final Battle
476   9.5                                  Naruto and Sasuke
477   9.2                                    The Unison Sign
478   8.6                                   Naruto Uzumaki!!
499   8.8  Hidden Leaf Story, the Perfect Day for a Weddi...

[167 rows x 2 columns]

## Best episodes:

In [37]:
best_episode = naruto_data["Rate"].max()
best_episode_row = naruto_data.loc[naruto_data["Rate"] == best_episode]
best_episode_row

,Unnamed: 0,Num_episode,Title,Type,Year_launch,Rate,Votes,Saga,Airdate
132,133,133,The Tale of Jiraiya the Gallant,Manga Canon,2009,9.5,2229,s6 Prophecy and Vengeance,2009-10-29
476,477,477,Naruto and Sasuke,Manga Canon,2016,9.5,2780,s20 Infinite Tsukuyomi: The Invocation,2016-09-29

## Worst episodes:

In [38]:
worst_episode = naruto_data["Rate"].min()
worst_episode_row = naruto_data.loc[naruto_data["Rate"] == worst_episode]
worst_episode_row

,Unnamed: 0,Num_episode,Title,Type,Year_launch,Rate,Votes,Saga,Airdate
376,377,377,Naruto vs. Mecha Naruto,Filler,2014,4.2,348,s18 The Fourth Great Ninja War - Obito Uchiha ...,2014-09-11